/* FILTER BAR */
.filter-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: .5rem;
    border: 0.22rem solid var(--color-grey);
    border-radius: .75rem;
    background-color: var(--color-grey);
    box-shadow: 0.3rem 0.4rem 0.5rem;
    font-size: 1rem;
}

.filter-bar .dropdown {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.filter-bar .btn {
    background-color: var(--color-grey);
    color: var(--color-white);
    font-size: inherit;
}


/* DROPDOWN */
.dropdown-menu {
    background-color: var(--color-grey);
    color: var(--color-white);
    text-align: center;
}

/* Age slider */
.age-slider {
    -webkit-appearance: button; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    background: #d3d3d3;
    border-radius: 0.6rem;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    padding: 0 0.2rem;
}

/* Mouse-over effects */
.age-slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.age-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--color-dark-red);
    border-radius: .75rem;
    cursor: pointer; /* Cursor on hover */
}

.age-slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--color-dark-red);
    cursor: pointer; /* Cursor on hover */
}

/* TIME FILTER */
.time-filter-title {
    font-size: 24px;
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
    margin: 0;
}

.time-filter-text {
    background-color: var(--color-grey);
    border: none;
    text-align: center;
    color: white;
    font-size: 17px;
}

.time-filter-slider {
    margin: 0.5rem;
    opacity: 0.7;
    border-radius: 1rem;
}

.ui-slide-range {
    opacity: 0.7;
}

.time-filter-slider:hover {
    opacity: 1;
}

.ui-slider-handle {
    background: var(--color-dark-red) !important;
    border-radius: 0.75rem !important;
    border: none !important;
}

/* LOCATION FILTER */
.list-group-item {
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--color-grey);
    border-bottom: 2px solid var(--color-dark-red);
    align-items: center;
    justify-content: space-between;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.location-active {
    background-color: var(--color-dark-red);
}

/* DATE */
.date-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.3rem;
}

.date-container {
    color: var(--color-white);
}

.date-container .form-control {
    background-color: var(--color-grey-dark);
    color: white;
}

.date-container .form-control:hover, .form-control:focus {
    background-color: var(--color-grey-light);
    color: white;
}

#filterDate .form-control {
    color: white;
    text-align: center;
    font-size: 1rem;
}

#filterDate .form-control:hover {
    color: black;
}