/* VARIABLES */
:root {
    --color-dark-red: #96302E;
    --color-dark-red-hover: #B62E2E;
    --color-black: #343330;
    --color-light-cream: #e0d3ce;
    --color-white: #e8e8e8;
    --color-grey-dark: #4d4542;
    --color-grey: #8A817C;
    --color-grey-light: #675F5C;
}

#map {
    height: 400px;
    width: 100%;
}
/* LINES */
.vline {
    height: 3rem;
    width: 2px;
    background-color: var(--color-grey-dark);
}

.hline {
    height: 2px;
    background-color: var(--color-grey-dark);
    margin-top: 0.9rem;
}
/* TAGS */
body {
    background-color: var(--color-black);
}

nav {
    background-color: var(--color-grey);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

/* NAV BAR */
.title-name {
    font-weight: 900;
    color: var(--color-dark-red);
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    transform: rotate(-10deg);
    text-align: center;
}

.login-button:hover, .filter:hover {
    color: grey;
    text-decoration: none;
}

#signout-nav-container {
    display: flex;
    flex-direction: column !important;
}

/* CONTAINER */
.container-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-card .card {
    margin: 1rem;
}

/* CARD */
.card {
    background-color: var(--color-light-cream);
    width: 200rem;
    box-shadow: 0.4rem 0.6rem 0.8rem;
}

.card-image {
    max-width: 100%;
    height: auto;
    max-height: 20rem;
    padding-top: 1rem !important;
}

.card-body {
    font-size: 14px;
    padding: .75rem;
    position: relative;
}

.card-title {
    font-weight: 600;
}

.card-desc {
    font-weight: 100;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-grid {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column-gap: 0.5rem;
    padding-bottom: 2rem;
}

.card-grid-wide {
    grid-column-start: 2;
    grid-column-end: 3;
}

.title-detail-dog {
    font-weight: 700;
}

.title-detail-event, .title-detail-contact {
  font-weight: 700;
  margin-top: 30px;
}

.card-date, .card-time, .card-location {
    display: block;
    padding: 2px;
    pointer-events: none;
}

.card-date-detail, .card-time-detail, .card-location-detail {
    padding-right: 20px;
}

.card-date-detail:hover, .card-time-detail:hover, .card-location-detail:hover {
  text-decoration: none;
  color: var(--color-black);
  cursor: text;
}

.fa-thumb-tack {
    margin-left: 3px;
}

.fa {
    align-self: center;
}

.form-item {
  width: 100%;
}

/* BUTTONS */
.btn {
    background-color: var(--color-dark-red);
    border: None;
    color: var(--color-white);
}

.btn-secondary {
    background-color: var(--color-grey-dark);
}

.btn-secondary:hover, .btn-secondary:focus {
    background-color: var(--color-grey) !important;
}

.btn-more {
    position: absolute;
    bottom: -7%;
    right: 10%;
    left: 10%;
    width: 80%;
}

.btn:hover, .btn:focus {
    background-color: var(--color-dark-red-hover);
}

.card-body .btn {
    margin-top: 20px;
}

.btn-group-toggle > .tag-btn > input[type="radio"] {
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

.active {
    background-color: var(--color-dark-red) !important;
}

/* ADD CARD BUTTON */
.w3-text-dark {
    color: var(--color-white) !important;
}

.fa-plus-circle {
    float: right;
}

.fa-plus-circle:hover {
    color: grey;
    cursor: pointer;
}

/* MODALS */
.modal-content {
    background-color: var(--color-light-cream);
    padding: 0 1rem;
}

.modal-grid {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 0.5rem;
    padding-bottom: 0.5rem;
}

.title-new-event {
    color: var(--color-dark-red);
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    transform: rotate(-5deg);
}

.custom-file-label {
    background-color: var(--color-white);
}

.modal-body .form-control {
    background-color: var(--color-white);
}

.modal-body .form-control:focus, .form-control:hover {
    background-color: white;
    color: black;
}

form, .card-body div {
    margin-bottom: 0.50rem !important;
}

.uploadedImage {
    width: 100% !important;
    margin-bottom: 1rem !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.45);
}

/* STICKY CLASSES */
.sticky-top {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

/* GOOGLE CLASSES */
.pac-container {
    z-index: 10000;
}